
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  /* color: #828282; */
  background-color: #FAFDFF;
  overflow-x: hidden;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 12px;
    font-size: 14px;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
  margin-right: 100px;
}

.links li {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #828282;
  font-weight: 400;
  list-style: none;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  cursor: pointer;
  transition: all 0.4s ease;
  transition: color 0.4s ease;
}

.links li:hover {
  color: #666262;
  transform: scale(1.2);
}

/*form  banner*/
.banner_section {
  background:  linear-gradient(#40C2F9, #006FDD);
  width: 100%;
  padding: 100px 0;
  position: relative;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr );
  padding: 1rem;
  background-image: url('bg_img.png');
  background-size: 500px;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .row{
    grid-template-columns: 1fr; 
    place-content: center;
  }

  .links li {
    display: none;
  }
}

.row ::after, .row ::before {
  box-sizing: border-box;
}

.left-panel, .right-panel {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 100%;
}

.left-panel {
  margin-top: 30px;
}

.left-panel h3 {
  color: #00FFF6;
  font-size: 16px;
  font-weight: 700;
}

.left-panel h2 {
  color: #FFFFFF;
  font-family: "Mulish", sans-serif;
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 25px;
  margin-top: 10px;
}

.left-panel p {
  font-weight: 400;
  color: #FFFFFF;
  font-size: 16px;
  opacity: 0.8;
  display: block;
  margin-block-start: 1em;
  line-height: 2em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.left-panel p::after, .left-panel p::before {
  box-sizing: border-box;
}

.sign_in-btn {
  border: 2px solid #262626;
  background-color: #262626;
  font-size: 16px;
  font-weight: 900;
  border-radius: 3px;
  opacity: 1;
  padding: 8px 10px;
  color: #FFFFFF;
  text-align: center;
  width: 40%;
  height: 50px;
  margin-top: 50px;
  cursor: pointer;
  font-family: "Mulish", sans-serif;
}

.sign_in-btn:hover {
  background-color: white;
  color: #009BDD;
  border: 1px solid #009BDD;
  transition: color .15s ease-in-out, backgournd-color .15s ease-in-out;
}

/* sign-up form */
.right-panel {
 width: 100%;
 height: 100%;
 border: 1px solid #fff;
 border-radius: 10px 10px;
 background-color: #ffffff;
 padding: 20px ;
 font-weight: 500;
 /* position: relative; */
}

.right-panel::after, .right-panel::before {
  box-sizing: border-box;
}

.modal-title-up {
  font-weight: 700;
  color: #262626;
  font-size: 24px;
  margin-bottom: 15px;
}

.dollares {
  position: relative;
  top: -27px;
  z-index: 200;
  margin: 0 auto;
  right: -27px;
  float: right;
  width: 200px;
  margin-bottom: -100px;
}

.contact_inputs {
  margin: 15px 0 15px 0;
}

.form-group {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.form-group::after, .form-group::before {
  box-sizing: border-box;
}

.form-group label {
  font-weight: 700;
  color: #262626;
  font-size: 15px;
}

.form-group input {
  background-color: #fff;
  border: 1px solid #009BDD;
  border-radius: 5px 5px;
  font-weight: 500;
  font-size: 18px;
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  margin-top: 10px;
}

.sign_up-btn {
  border: 2px solid #262626;
  background-color: #009BDD;
  font-size: 18px;
  font-weight: 700;
  border-radius: 3px;
  opacity: 1;
  padding: 8px 0px;
  color: #FFFFFF;
  text-align: center;
  width: 30%;
  height: 40px;
  margin-top: 50px;
  cursor: pointer;
  margin-left: 70%;
  border: 1px #009BDD;
}

.sign_up-btn:hover {
  background-color: white;
  color: #262626;
  border: 1px solid #009BDD;
  transition: color .15s ease-in-out, backgournd-color .15s ease-in-out;
}

@media screen and (max-width: 500px) {
  .left-panel, .right-panel {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 100%;
  }

  .banner_section {
    padding: 30px 0;
  }

  .left-panel h2{
    font-size: 20px;
  }

  .left-panel p {
    font-size: 12px;
    line-height: 20px;
  }

  .sign_in-btn {
    width: 100%;
  }
}
/*end of form*/
/*coin img section*/
.coin_section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin-top: 20px;
  margin: auto;
}

.coin {
  display: flex;
  align-items: center;
  margin-top: 35px;
}

.coin img {
  width: 100%;
  display: block;
}

.latest_update {
  margin: auto 0;
}

.latest_update h2 {
  font-size: 50px;
  font-family: "Mulish", sans-serif;
  color: #262626;
}

.latest_update h5 {
  color: #009BDD;
  font-size: 24px;
  font-weight: 500;
}

.Earn_block {
  background-image: linear-gradient(180deg, #82DAFF 0%, #009BDD 100%);
  box-shadow: 0px 15px 22px #009BDD1A;
  border-radius: 8px;
  opacity: 1;
  margin-top: 20px;
  margin-bottom: 100px;
  width: 100%;
  padding: 20px 15px 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Earn_rate p {
  color: #FFFFFF;
  font-size: 16px;
}

.Earn_rate h6 {
  font-size: 22px;
  font-weight: 700;
  color: #FFFFFF;
  margin-top: 8px;
}

.profit {
  text-align: end;
}

.profit p {
  color: #FFFFFF;
  font-size: 16px;
}

.profit h6 {
  font-size: 22px;
  font-weight: 700;
  color: #FFFFFF;
  margin-top: 8px;
}

.findplan_centerd-text {
  text-align: center;
}
/*text*/
.main_title {
  font-weight: 700;
  color: #262626;
  font-size: 38px;
  margin-bottom: 15px;
}

.findplan_centerd-text p {
  color: rgb(175, 175, 175);
  font-size: 16px;
  max-width: 78%;
  margin: 0px auto 50px;
}

@media screen and (max-width: 900px) {
  .coin_section {
    display: grid;
    place-content: center;
  }

  .latest_update {
    margin: 0 auto;
  }

  .Earn_block {
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


  .profit p, .Earn_rate p {
    margin: 0 auto;
  }

   .Earn_rate h6,.profit h6 {
    margin: 0 auto;
  }

  .main_title {
    font-size: 25px;
  }
}

/*card_section*/
.card_section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}

.card {
  background: #FFFFFF;
  box-shadow: 0px 8px 20px #009BDD0F;
  position: relative;
  border-radius: 8px;
  opacity: 1;
  padding: 20px 5px;
  max-width: 250px;
}


.card:hover {
  background: transparent linear-gradient(180deg, #95E0FF 0%, #008CC8 100%);
  box-shadow: 0px 50px 30px #009BDD33;
  border-radius: 8px;
  opacity: 1;
  cursor: pointer;
  transition: all .5s;
  transform: translateY(-20px);
}

.card:hover .blue_text {
  color: #fff;
}

.card:hover .per_day {
  color: #fff;
}

.card:hover .bonus_txt {
  color: #fff;
}

.card:hover .rate_txt {
  color: #fff;
}

.img_sec {
  text-align: center;
}

.img_sec img {
  width: 129px;
  max-width: 100%;
  height: 112px;
}

.hover_img {
  display: none;
}

.blue_text {
  font-size: 15px;
  font-weight: 700;
  color: #262626;
  margin-top: 10px;
  text-align: center;
}

.blue_text:hover {
  color: #fff;
  transition: color .3s ease-in-out;
}

.card hr {
  border: 1px solid #009BDD;
  width: 55%;
  margin-top: 10px;
  margin-left: 50px;
}

.card:hover hr {
  border-color: #fff;
}

.plain_list {
  text-align: center;
}

.rate_txt {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
  color: #AFAFAF;
}

.rate_txt:hover {
  color: #fff;
  transition: color .3s ease-in-out;
}

.per_day {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  color: #262626;
}

.per_day:hover {
  color: #FFFFFF;
  transition: color .3s ease-in-out;
}

.bonus_txt {
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
  color: #262626;
}

.bonus_txt:hover {
  color: #ffffff;
  transition: color .3s ease-in-out;
}

.start_btn {
  margin-top: 35px;
}

.buy_btn {
  background: #009BDD;
  box-shadow: 0px 5px 10px #009BDD29;
  border-radius: 3px;
  opacity: 1;
  color: #fff;
  width: 50%;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 7px 0px;
  font-size: 15px;
  font-weight: 800;
  text-decoration: none;
}

.card:hover .buy_btn {
  background: #fff;
  color: #009BDD;
  transition: all 0.3s;
}

.buy_btn:hover {
  transition: all 0.3s;
  background-color: #fff;
  color: #009BDD;
}

@media screen and (max-width: 500px) {
  .card_section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 45px;
  }

  .card {
    max-width: 350px;
    text-align: center;
  }

  .card hr {
    margin:  auto;
  }
}

.choose_title h2 {
  margin-bottom: 15px;
  margin-top: 40px;
}

.main_title2 {
  font-weight: 700;
  color: #262626;
  font-size: 38px;
}

.row2 {
  display: flex;
  justify-content: space-around;
}

.row2 div {
  text-align: center;
}

.row2 img {
  padding: 22px 0;
  width: 50px;
  vertical-align: middle;
}

.row2 h6 {
  color: #262626;
  font-size: 22px;
  font-weight: 700;
}

.row2 div:hover {
  cursor: pointer;
  transform: translateY(-15px);
  transition: all .3s ease-in-out;
}

footer .container {
  background-color: #000000;
  padding: 12px 0;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.footer_content p {
  color: #AFAFAF;
  font-size: 14px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .main_title2 {
    font-size: 20px;
  }

  .findplan_centerd-text p {
    max-width: 100%;
    font-size: small;
  }

  .row2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
  }

  footer .container {
    padding: 10px 0;
    border-radius: 8px;
  }

  .footer_content p {
    font-size: 12px;
  }
}